{%  extends 'index.html' %}
{% load static %}
{% block content %}
    <h2>Это ваш личный кабинет</h2>
    {% if user.username %}
        <h3> имя {{ user.username }}</h3>
        <h3>почта {{ user.email }}</h3>
        <h3>Баланс {{ user.profileuser.balance }}</h3>
        <h2>Ваша подписка</h2>
        <h3>Уровень {{ user.profileuser.podpiska.id }}</h3>
        <h3>Название {{ user.profileuser.podpiska }}</h3>
        {% else %}
        <h2>
            <a href="{% url 'login' %}">Зарегистрируйтесь</a>
        </h2>
    {% endif %}
    {% if user.username %}
    <form action="" method="post">
        {% csrf_token %}
        {% if user.profileuser.podpiska.id == 1 %}
            <button type="submit" value="free" name="stype" disabled="disabled">Бесплатная</button>
        {% else %}
            <button type="submit" value="free" name="stype" >Бесплатная</button>
        {% endif %}

     {% if user.profileuser.podpiska.id == 2 %}
        <button type="submit" value="based" name="stype" disabled="disabled">Базовая</button>
    {% else %}
        <button type="submit" value="based" name="stype" >Базовая</button>
    {% endif %}

    {% if user.profileuser.podpiska.id == 3 %}
        <button type="submit" value="super" name="stype" disabled="disabled">Супер</button>
    {% else %}
         <button type="submit" value="super" name="stype">Супер</button>
    {% endif %}
    </form>

        <form action="" method="post">
        {% csrf_token %}
            <label for="balanceplus">Пополнить баланс</label>
            <input type="number" id="balanceplus" name="summa">
            <button type="submit">Отправить </button>
        </form>
    {% endif %}
{% endblock %}